{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="custom_login-registration_form mx-auto">
        <form method="post">
            <legend>
                Prisijungimas
            </legend>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <input class="mb-2 form-control email_and_password_inputs" type="email" value="" name="email" id="inputEmail" placeholder="Elektroninis paštas" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control email_and_password_inputs" placeholder="Slaptažodis" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input class="submit_button" type="submit" value="Prisijungti">
            <p>
                <a class="ot_login" href="#">
                    <img class="float-left" height="20" width="20" src="{{ asset('images/google-image.svg') }}" alt="Google image">
                    Prisijungti su Google
                </a>
            </p>
            <p>
                <a class="ot_login" href="#">
                    <img class="google-logo float-left" height="20" width="20" src="{{ asset('images/facebook-2.svg') }}" alt="Google image">
                    Prisijungti su Facebook
                </a>
            </p>
            <p class="text-center forget_psw">
                <a href="#">Pamiršote slaptažodį?</a>
            </p>

            {#<button class="registration_button mt-3 submit_button" type="submit">Prisijungti</button>#}

        </form>
    </div>
{% endblock %}
