{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <header class="row" style="height: 95px;">

        </header>
        <main>
            <div class="row mt-2 mb-3">
                <div class="col-sm-12">
                    {{ include('./includes/calendar.html.twig') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </main>
    </div>
{% endblock %}
