{% extends 'base.html.twig' %}

{% block title %}Big Fishes{% endblock %}


{% block body %}
    <header class="row" style="height: 95px;">
    </header>
    <div class="container-fluid">
        <main>
            <div class="row mt-2 mb-3">
                <div class="col-sm-12">
                    {{ include('./includes/calendar.html.twig') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </main>
    </div>
{% endblock %}
