
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "./login_register.css";
@import "./reservation.css";
@import "./header.css";

body {
  background-image: url('../images/background.jpg');
  box-sizing: border-box;
}
table {
  text-align: center;
  table-layout: fixed;
  width: 1100px;
}

th.table_head_cell {
  white-space: nowrap;
  border: 1px solid white;
  width: 30px !important;
  background-color: ghostwhite;
  opacity: 0.8;
}


td.sectors_cell {
  border: 1px solid white;
  width: 100px!important;

}

td.sectors_day_cell {
  border: 1px solid white;
  width: 38px!important;
}


td.free {
  background-image: url('../images/busyline-block-free.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  opacity: 0.9;
}
td.busy-start_from_20 {
  background-image: url('../images/busyline-block-busy-start.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  opacity: 0.9;
}
td.busy-start_from_8 {
  background-image: url('../images/busyline-block-busy-end.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  opacity: 0.9;
}
td.busy {
  background-image: url('../images/busyline-block-busy.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  opacity: 0.9;
}


.highlight{
  outline: 2px solid #ff1f1f;
}

.custom_registration_form {
  border-radius: 25px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 40em;
  height: auto;
  padding: 3em;
  background-color: lightgrey;
  opacity: 0.85;

}

.registration_button {
  margin-left: 40%;
}

.Sat, .Sun {
  filter: brightness(70%);
}

.highlight_cell{
  filter: brightness(65%);
}

