
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "./login_register.css";
@import "./reservation.css";
@import "./confirmation.css";
@import "./header.css";

body {
  background-image: url('../images/background.jpg');
  //box-sizing: border-box;
}
table {
  text-align: center;
  table-layout: fixed;
  z-index: 1;
}

th.table_head_first {
  font-size: 10px;
  padding-left: 3em;
  padding-right: 3em;
}

th.table_head_cell {
  font-size: 10px;
  white-space: nowrap;
  border: 1px solid black;
  width: 21px !important;
  background-color: ghostwhite;
  opacity: 0.8;
}


td.sectors_cell {
  border: 1px solid black;
  height: 21px!important;
  font-size: 10px;
}

td.sectors_day_cell {
  border: 1px solid black;
}


td.free {
  background-image: url('../images/busyline-block-free.png');
  background-size: 100%;
  background-repeat: no-repeat;
  //opacity: 0.9;
}
td.busy-start_from_20 {
  background-image: url('../images/busyline-block-busy-start.png');
  background-size: 100%;
  background-repeat:   no-repeat;
  //opacity: 0.9;
}
td.busy-start_from_8 {
  background-image: url('../images/busyline-block-busy-end.png');
  background-size: 100%;
  background-repeat:   no-repeat;
  //opacity: 0.9;
}
td.busy {
  background-image: url('../images/busyline-block-busy.png');
  background-size: 100%;
  background-repeat:   no-repeat;
  //opacity: 0.9;
}


.sector_border{
  filter:brightness(130%);
}

.custom_registration_form {
  border-radius: 25px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 40em;
  height: auto;
  padding: 3em;
  background-color: lightgrey;
  opacity: 0.85;

}

.registration_button {
  margin-left: 40%;
}

.Sat, .Sun {
  filter: brightness(70%);
}

.highlight_cell{
  filter: brightness(65%);
}

.calendar_legend{
  background-color: ghostwhite;
  opacity: 0.9;
}

.information_tab{
  background-color: ghostwhite;
  opacity: 0.9;
}

