
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "./login_register.css";
@import "./reservation.css";
@import "./confirmation.css";
@import "./header.css";
@import "./my_reservations.css";

body {
  background-image: url('../images/background.jpg');
}

table {
  text-align: center;
  table-layout: fixed;
  z-index: 1;
}

th.table_head_first {
  font-size: 14px;
  padding-left: 4.9em;
  padding-right: 4.9em;
}

th.table_head_cell {
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid black;
  width: 25px !important;
  background-color: ghostwhite;
  opacity: 0.8;
}


td.sectors_cell {
  border: 1px solid black;
  height: 25px!important;
  font-size: 14px;
}

td.sectors_day_cell {
  border: 1px solid black;
}


.free {
  background-color: #39AD59;
  opacity: 0.9;
}
.busy-start_from_20 {
  background-image: -webkit-linear-gradient(135deg, #FB873C 50%, #39AD59 50%);
  opacity: 0.9;
}
.busy-start_from_8 {
  background-image: -webkit-linear-gradient(135deg, #39AD59 50%, #FB873C 50%);
  opacity: 0.9;
}
.busy {
  background-color: #FB873C;
  opacity: 0.9;
}

.sector_border{
  filter:brightness(130%);
}

.custom_registration_form {
  border-radius: 25px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 40em;
  height: auto;
  padding: 3em;
  background-color: lightgrey;
  opacity: 0.85;

}

.highlight {
  filter: brightness(135%);
  //outline: 2px solid red;
}

.registration_button {
  margin-left: 40%;
}

.Sat, .Sun {
  filter: brightness(70%);
}

.highlight_cell{
  filter: brightness(65%);
}

.calendar_legend{
  background-color: ghostwhite;
  opacity: 0.9;
}

.information_tab{
  height: 23em;
  background-color: ghostwhite;
  opacity: 0.9;
}

.legend_parent {
  display:table;
}

.legend_span{
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.legend_alignment {
  display:table-cell;
  vertical-align:middle;
}

.pond_wrapper {
  padding-left: 0px;
}

@media screen and (max-width: 600px) {
  .calendar_wrapper{
    width: 25em!important;
    overflow: auto;
  }
  .pond_wrapper {
    display: none;
  }
  .information_tab {
    height: auto;
  }

  th.table_head_first {
    font-size: 12px;
    padding-left: 2em;
    padding-right: 2em;
  }

  td.sectors_cell {
    width: 25px!important;
  }

  th.table_head_cell {
    width: 25px !important;
    height: 25px !important;


  }

}


