.ur_table_cell {
    border: 1px solid black;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.ur_table_head_cell{
    border: 1px solid black;
}

.ur_head{
    border-bottom: 2px solid black;
}