.reservation_form{
    font-size: 14px!important;
}


input.reservation_reservation-name{
    font-size: 14px!important;
    height: 16px;
    padding: 10px;
}

input.datepicker_view {
    font-size: 14px!important;
    padding: 2px;
    width: 10em!important;
    height: 2em!important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

fieldset.form-group {
    margin-bottom: 0!important;
}

.reservation_from {
    padding-top: calc(.375rem + 1px);
}

.reservation_till {
    padding-top: calc(.375rem + 1px);
}

.reservation_from_title{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1380px) {
    .reservation_form{
        font-size: 12px!important;
    }

    input.datepicker_view {
        font-size: 10px!important;
        padding-top: 2px;
        width: 10em;
        height: 1em;
    }

    .reserved_from_title {
        padding-top: 0px;
    }
    .reservation_from_title{
        font-size: 1.5rem;
    }
}