.reservation_form{
    font-size: 14px!important;
}


input.reservation_reservation-name{
    font-size: 14px!important;
    height: 16px;
    padding: 10px;
}

input.datepicker_view {
    font-size: 14px!important;
    padding: 2px;
    width: 8em!important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

fieldset.form-group {
    margin-bottom: 0!important;
}

.submit_button {
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: all ease 0.4s;
    height: auto;
    -webkit-appearance: none;
    color: white;
    background: #15CD72;
    border: 0;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
}

.submit_button:hover {
    background: #0CB863;

}